
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  width: 74%;
  margin-left: 13%;
  font-family: 'Roboto Slab', serif;
  overflow-x: hidden;
}
header {
  margin-top: 10px;
  font-weight: 600;
}
footer {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 5px;
  /* margin-left: 13%; */
}

.left-menu{
display: flex;
flex-direction: row;
justify-content: space-around;
flex-flow: wrap;
}

.cards{
width: 23.2%;
height: 400px;
margin: 10px;
box-shadow: 1px 1px 6px rgb(59, 59, 59);
}

.cards h1{
font-size: 19px;
margin: -29% 20px 18px 18px;
text-align: center;
color: rgb(255, 255, 255);

}
.cards img{
width: 100%;
height: 100%;
background-size:cover;
background-position: center;

}

@media (max-width: 1346px){
  .cards{
    width: 30%;
  }
  .cards h1{
    font-size: 19px;
    margin: -30% 20px 18px 18px;

  }
}
@media (max-width: 1050px){
  
  body{
    width: 90%;
    margin-left: 5%;
  }
  .cards h1{
    font-size: 19px;
    margin: -25% 20px 18px 18px;

  }
  .cards{
    width: 30%;
  }
}

@media (max-width: 761px){
  body{
    width: 98%;
    margin-left: 1%;
  }
  .cards{
    width: 46%;
  }
}
@media (max-width: 500px){
  .cards h1{
    font-size: 17px;
    margin: -49% 20px 18px 18px;

  }
  .cards{
    width: 45%;
    margin: 10px 5px;
  }
}
@media (max-width: 360px){
  .cards h1{
    font-size: 14px;
    margin: -41% 20px 18px 18px;

  }
  .cards{
    width: 45%;
    margin: 10px 1px;
    height: auto;
  }
}











nav {
    display: flex;
    height: 80px;
    width: 100%;
    background: #12a1e4fb;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
  }
  nav .logo {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
  }
  nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  nav ul li {
    margin: 0 5px;
  }
  
  nav ul li a:hover {
    background: white;
    color: black;
  }
  nav ul li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  
  nav .menu-btn i {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  input[type="checkbox"] {
    display: none;
  }
  @media (max-width: 1000px) {
    nav {
      padding: 0 40px 0 50px;
    }
  }
  @media (max-width: 1117px) {
    nav .menu-btn i {
      display: block;
    }
    #click:checked ~ .menu-btn i:before {
      content: "\f00d";
    }
    nav ul {
      position: fixed;
      top: 80px;
      left: -100%;
      background: #111;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease;
    }
    #click:checked ~ ul {
      left: 0;
    }
    nav ul li {
      width: 100%;
      margin: 40px 0;
    }
    nav ul li a {
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a {
      margin-left: 0px;
    }
   
  }
  
  footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .copyright {
    text-align: center;
    background: #12a1e4fb;
    color: white;
    text-align: center;
    padding: 12px 0px;
  }
  .copyright span a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  
  
  
  